{
	"env": {
		"browser": true,
		"jest": true
	},
	"plugins": ["simple-import-sort"],
	"rules": {
		"simple-import-sort/imports": "error",
		"comma-dangle": ["error", "never"],
		"object-curly-spacing": ["error", "never"]
	},
	"parser": "@babel/eslint-parser",
	"parserOptions": {
		"requireConfigFile" : "false"
	},
	"babelOptions": {
		"configFile": "./.babelrc",
	},
	"extends": ["airbnb", "airbnb/hooks"]
}