$color-primary: #303030;
$color-primary-light: #b1b1b1;
$color-black: black;
$color-body: rgb(75, 75, 75);
$color-background: #fff;
$color-board: #b1b1b1;
$color-board-border: #fff;
$color-snake: blue;
$color-apple: red;

$content-width: 1280px;
$wrapper-width: 1000px;
$tablet-max-width: 900px;
$mobile-max-width: 500px;

$base-font-size: 10px;
$board-width: 400px;
$board-height: 400px;
$cell-size: 20px;

$color-dark-s: #cdcdcd;
$color-dark-m: #b2b2b2;
$color-popup-border: #404040;
$color-popup-bg: #2b2b2b;
