@font-face {
  font-family: 'Branda-yolq';
  src: url('../../fonts/Branda-yolq.ttf');
  font-weight: bold;
}

body {
  // background: lightcyan;

  .test_container {
    text-align: center;

    .test_fonts {
      font-family: 'Branda-yolq', sans-serif;
      font-size: 100px;
      color: darkblue;
    }
  }
}
